#contratar {
  display: flex;
  justify-content: space-around;
  margin: 20px 50px 0 50px;
}
.box_form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

form {
  border: none;
}
fieldset {
  width: 100%;
}

fieldset input {
  border: solid 1px #cdc3c3;
  border-radius: 5px;
  width: 50%;
  height: 25px;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
}

.info hr {
  border: solid 1px #fff;
}
.info img {
  width: 20rem;
}

/*df dasd
/* Style the form */
#regForm {
  display: flex;
  flex-direction: column;
  background-color: #f5f4ef;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04aa6d;
}

.info_text {
  width: 100%;
}
.contato {
  width: 100%;
  display: flex;
  margin-left: 50px;
  justify-content: space-between;
}

.info_texts {
  margin-left: 50px;
  display: flex;
}

.info_block {
  width: 100%;
}

.preco {
  display: flex;
  justify-content: space-between;
  text-align: end;
}

